[contenteditable="true"]:active,
[contenteditable="true"]:focus{
  border:none;
  outline:none;
}
.editable[contentEditable="true"] {
    border-color: #CCCCCC;
    border-left: 1px dashed #CCCCCC;
    border-right: 1px dashed #CCCCCC;
    border-style: dashed;
    border-width: 1px;
}
.editable {
  border: 1px solid #fff;
}

#inplace-editor-toolbar {
  display: none;
}